.fixednav {
    position: fixed;
    width: 100%;
   
}

.setFontColor {
    color: white;
    /* font-size: 22px; */

}
.iconNote {
    font-size: 2em;
    margin-right: 20%;
}

.statTitle {
    background-color: #ffb22b;
    font-size: 20px;
}

.bg-light {
    background-color: #ffb22b !important;
}